gmsh_filePath "{{output_dir}}/"
gmsh_fileName "{{mesh_prefix}}"
mesh_h5_filePath "{{output_dir}}/"
mesh_h5_fileName "{{mesh_prefix}}_partitions"
num_partitions {{num_partitions}}
lineal_output 1
eval_mesh_quality 1
