#!/bin/bash

#SBATCH --job-name={{job_name}}

#SBATCH -D .

#SBATCH --output=./output_%j/%j.out
#SBATCH --error=./output_%j/%j.err

#SBATCH --nodes=1
#SBATCH --ntasks=1
#SBATCH --ntasks-per-node=1
#SBATCH --cpus-per-task=80
#SBATCH --time=00:03:00
#SBATCH --gres=gpu:1

#SBATCH --qos=acc_bench
#SBATCH --account=bsc99

ulimit -s unlimited
nsys profile -t cuda,openacc,nvtx --cuda-memory-usage=true -f true -o profile_{{job_name}} mpirun -np {{num_partitions}}  {{exe_path}} {{solver_config}}
