{
   "type":"TGVCompSolver",

   "mesh_h5_file_path":"{{mesh_h5_file_path}}",
   "mesh_h5_file_name":"{{mesh_h5_file_name}}",

   "results_h5_file_path":"{{results_h5_file_path}}",
   "results_h5_file_name":"{{results_h5_file_name}}",

   "doGlobalAnalysis":true,
   "doTimerAnalysis":true,

   "save_logFile_first":1,
   "save_logFile_step":10,

   "save_resultsFile_first":1,
   "save_resultsFile_step":1000,

   "save_restartFile_first":1,
   "save_restartFile_step":1000,

   "loadRestartFile":false,
   "restartFile_to_load":1,
   "continue_oldLogs":false,

   "saveAvgFile":false,
   "loadAvgFile":false,

   "saveSurfaceResults":false,
   "saveInitialField":true,

   "final_istep":1000001,
   "maxPhysTime":5.0,

   "cfl_conv":0.95,
   "cfl_diff":1000.5,

   "flag_implicit":1,
   "maxIter":200,
   "tol":1e-3,

   "M":1.25,
   "L":1.0,
   "v0":1.0,
   "Prt":0.71,
   "T0":1.0,
   "Re":1600.0,
   "gamma_gas":1.4
}
